@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 640px) {
  .header {
    height: 350px !important;
    margin-bottom: -3rem;
  }
  .logo {
    width: 25rem !important;
    margin-left: 10rem;
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 640px) {
  .logo {
    width: 15rem;
    margin: 0 auto;
  }
  .header {
    margin-bottom: 1rem;
  }
}
body {
  background-color: #560e0e;
  background-image: linear-gradient(
      45deg,
      #4f0505 25%,
      transparent 25%,
      transparent 75%,
      #4f0505 75%
    ),
    linear-gradient(
      45deg,
      #4f0505 25%,
      transparent 25%,
      transparent 75%,
      #4f0505 75%
    );
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.bg-list-cars {
  background-color: rgb(34, 1, 1, 0.98);
}
.header {
  background-image: url('./assets/header.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-bottom: 4px solid rgba(220, 38, 38);
}
.footer {
  background-color: #000;
  border-top: 4px solid rgba(220, 38, 38);
  height: 5rem;
  margin-top: 20px;
}
a:link {
  cursor: url('assets/cursor.png') 9 1, auto !important;
}
